@using BootstrapBlazor.Components
@using Microsoft.Extensions.Localization
@using ThingsGateway.Extension
@using ThingsGateway.Foundation
@using ThingsGateway.Admin.Application
@using ThingsGateway.Admin.Razor
@using ThingsGateway.Gateway.Application
@namespace ThingsGateway.Plugin.Mqtt


<ValidateForm Model="Model.Value"
              @key=@($"DeviceEditValidateForm{Id}{Model.Value.GetType().TypeHandle.Value}")
              @ref=Model.ValidateForm
              Id=@($"DeviceEditValidateForm{Id}{Model.Value.GetType().TypeHandle.Value}")>

    <EditorFormObject class="p-2" Items=PluginPropertyEditorItems IsDisplay="!CanWrite" AutoGenerateAllItem="false" RowType=RowType.Inline ItemsPerRow=@(CanWrite?2:3) ShowLabelTooltip=true LabelWidth=@(CanWrite?240:120) Model="Model.Value" ShowLabel="true" @key=@($"DeviceEditEditorFormObject{Id}{Model.Value.GetType().TypeHandle.Value}")>

        <FieldItems>
            @if (Model.Value is MqttClientProperty mqttClientProperty)
            {
                <EditorItem @bind-Field=mqttClientProperty.CAFile>

                    <EditTemplate Context="caFile">
                        <div class="col-12  col-md-12">
                            <ButtonUpload @bind-Value=@(((MqttClientProperty)caFile).CAFile_BrowserFile) OnChange="OnCAFileChange" IsSingle ShowLabelTooltip="true" IsMultiple=false IsDisabled=@(mqttClientProperty.TLS == false) />
                        </div>
                    </EditTemplate>
                </EditorItem>

                <EditorItem @bind-Field=mqttClientProperty.ClientCertificateFile>

                    <EditTemplate Context="caFile">
                        <div class="col-12  col-md-12">
                            <ButtonUpload @bind-Value=@(((MqttClientProperty)caFile).ClientCertificateFile_BrowserFile) OnChange="OnClientCertificateFileChange" IsSingle ShowLabelTooltip="true" IsMultiple=false IsDisabled=@(mqttClientProperty.TLS == false) />
                        </div>
                    </EditTemplate>
                </EditorItem>

                <EditorItem @bind-Field=mqttClientProperty.ClientKeyFile>

                    <EditTemplate Context="caFile">
                        <div class="col-12  col-md-12">
                            <ButtonUpload @bind-Value=@(((MqttClientProperty)caFile).ClientKeyFile_BrowserFile) OnChange="OnClientKeyFileChange" IsSingle ShowLabelTooltip="true" IsMultiple=false IsDisabled=@(mqttClientProperty.TLS == false) />
                        </div>
                    </EditTemplate>
                </EditorItem>
            }

            @if (Model.Value is BusinessPropertyWithCacheIntervalScript businessProperty)
            {
                <EditorItem FieldExpression=@(()=>context) Field=@(context)>

                    <EditTemplate Context="value">
                        <div class="col-12  col-md-12 min-height-500">
                            <BootstrapLabel Value=@Localizer["BigTextScriptDeviceModel"] ShowLabelTooltip="true" />
                            <CodeEditor ShowLineNo @bind-Value=@businessProperty.BigTextScriptDeviceModel Language="csharp" Theme="vs-dark" IsReadonly=@(!CanWrite) />
                            <div class="ms-2 d-flex justify-content-center align-items-center">
                                <Button IsDisabled=@(!CanWrite) OnClick="()=>CheckScript(businessProperty,nameof(businessProperty.BigTextScriptDeviceModel))">
                                    @Localizer["Check"]
                                </Button>
                            </div>
                        </div>
                        <div class="col-12  col-md-12 min-height-500">
                            <BootstrapLabel Value=@Localizer["BigTextScriptVariableModel"] ShowLabelTooltip="true" />
                            <CodeEditor IsReadonly=@(!CanWrite) ShowLineNo @bind-Value=@businessProperty.BigTextScriptVariableModel Language="csharp" Theme="vs-dark" />

                            <div class="ms-2 d-flex justify-content-center align-items-center">
                                <Button IsDisabled=@(!CanWrite) OnClick="()=>CheckScript(businessProperty,nameof(businessProperty.BigTextScriptVariableModel))">
                                    @Localizer["Check"]
                                </Button>
                            </div>
                        </div>
                        <div class="col-12  col-md-12 min-height-500">
                            <BootstrapLabel Value=@Localizer["BigTextScriptAlarmModel"] ShowLabelTooltip="true" />
                            <CodeEditor IsReadonly=@(!CanWrite) ShowLineNo @bind-Value=@businessProperty.BigTextScriptAlarmModel Language="csharp" Theme="vs-dark" />

                            <div class="ms-2 d-flex justify-content-center align-items-center">
                                <Button IsDisabled=@(!CanWrite) OnClick="()=>CheckScript(businessProperty,nameof(businessProperty.BigTextScriptAlarmModel))">
                                    @Localizer["Check"]
                                </Button>
                            </div>
                        </div>

                    </EditTemplate>
                </EditorItem>
            }
        </FieldItems>

    </EditorFormObject>
</ValidateForm>


